body{
    background-color: #ffffe5;
    box-sizing: border-box;
    margin-bottom: 1000px;
}
#to-do{
    width: 400px;
    margin: 50px auto;
    border-radius: 15px;
   
    /* border-right: 1px solid #cfd8dc;  */
    box-shadow: 0 0 10px #ccc;
}
.header{
    background-color: blue;
    color: white;
    height: 80px;
    border-radius: 15px 15px 0 0;
    border: 1px solid #cfd8dc;
}
.header h2{
    margin-top: 0;
    text-align: center;
    /* line height exact as the parent element so that the text is aligned vertically */
    line-height: 80px;
    
}
.tasks{
    margin: 0;
    padding: 0;
    list-style: none;
    /* border: 1px solid #cfd8dc; */
    height: 50px;
    
}
.task:last-child{
    border-radius: 0 0 15px 15px;
}
.task{
    display: flex;
    border-bottom: 1px solid #cfd8dc;

}
.task:last-child .col-1{
    border-radius: 0 0 0 15px;
}
.task:last-child .col-3{
    border-radius: 0 0 15px 0;
}
.add-block{
    display: flex;
    border-top: 1px solid #cfd8dc;
    border-bottom: 1px solid #cfd8dc;
}
.add-field{
    width: 75%;
    height: 50px;
    padding: 0 15px 0 15px;
    border: 0;
    outline: none;
}
.add-button{
    border: 0;
    padding: 0;
    color: blue;
    font-size: 40px;
    font-weight: bold;
    outline: none;
}
.col-1{
    width: 10%;
    background-color: #bbdefb;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.col-2{
    width: 70%;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.col-3{
    width: 20%;
    background-color: #bbdefb;
    height: 50px;
}
.col-3:hover{
    background-color: #90caf9;
    cursor: pointer;
}
.task-remove{
    background-image: url(Materials/trash.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
}
.checked{
    text-decoration: line-through;
}